<ion-view view-title="Key Doc" left-buttons="leftButtons" right-buttons="rightButtons">
    <ion-content>
        <div id="gradient" /></div>
    
        <div id="transparent"/></div>

        <div class='button-ini-res'>
            <span ng-class="{'active': (selected == '1')}" ng-click='selected=1'>
                REGISTRARSE
            </span>
            <span ng-class="{'active': (selected == '2')}" ng-click='selected=2'>
                INICIAR SESIÓN
            </span>
        </div>
      
        <div class='content-init-res'>
            <ion-content>
                <div ng-show='selected == 1'>
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">Correo</span>
                            <input type="text" ng-model="user.username">
                        </label>
                        <a class="button icon-left ion-chevron-right button-clear button-init-sesion"
                                ng-click="registrar(usear)"></a>
                    </div>
                </div>
        
        <div ng-show='selected == 2'>
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Usuario</span>
                        <input type="text" ng-model="user.username">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Contraseña</span>
                        <input type="password" ng-model="user.password">
                    </label>
                    <a class="button icon-left ion-chevron-right button-clear button-init-sesion"
                            ng-click="signIn(user,password)"></a>
            </ion-content>
                </div>
        </div>
      </div>
  </ion-content>
</ion-view>

<!---Redes Sociales
<ion-tabs class="tabs-icon-only tabs-positive">

    <ion-tab icon="ion-social-facebook" href="#">
    </ion-tab>

    <ion-tab icon="ion-social-twitter" href="#">
    </ion-tab>

    <ion-tab icon="ion-social-googleplus" href="#">
    </ion-tab>

    <ion-tab icon="ion-social-instagram" href="#">
    </ion-tab>

</ion-tabs>-->