<ion-view view-title="Perfil">
  <ion-content>
		<div class="jr-card-theme-default">
      <div class="jr-card">
        
        <div id="banner"/>
          <img src="" alt="">
        </div>

        <ion-slide-box show-pager="true">
              <ion-slide>
                <div class="profile-picture"><img src="img/upload.png"/></div>
                <div class="box-white"><h2>Ionic User</h2></div>
              </ion-slide>
              <ion-slide>
                <div class="box-white"><p>Javascript Frontend Engineer at Recruiterbox</p></div>
                <div class="box-white"><h4>Venezuela, Los Teques</h4></div>
              </ion-slide>
            </ion-slide-box>

        <div class="jr-header"></div>
        <!--<div class="jr-header">
          <div class="jr-cover">
            <div class="jr-profile-picture-container"><img src="img/ionic.png"/></div>
            <h2 class="jr-display-name">Ionic User</h2>
          </div>
          <div class="jr-experience-info">
            <p><small><i class="icon ion-ios7-location"></i> Venezuela, Los Teques</small></p>
            <p><small><i class="icon ion-ios7-email"></i> ionic@ionic.com</small></p>
            <p>Javascript Frontend Engineer at Recruiterbox</p>
          </div>
        </div>-->
        
        <div class="jr-content">
          <div class="jr-stats">
            <a class="jr-stat" href="#"><span><span class="jr-numbers">5</span><br/><small><i class="icon ion-ios7-medkit"></i> CITAS</small></span></a>
            <a class="jr-stat" href="#"><span><span class="jr-numbers">3</span><br/><small><i class="icon ion-ios7-person"></i> DOCTORES</small></span></a>
          </div>
          <div class="jr-about">
          </div>
        </div>
        
        <div class="jr-footer">
          <div class="jr-cita">
            <div class="jr-citas"><i class="icon ion-ios7-medkit"></i> CITAS</div>  		
          </div>
        </div>
    

    <!-- <ion-item class="item-avatar item-icon-right" ng-repeat="cita in citas" type="item-text-wrap" >
        <img ng-src="{{cita.icons}}">
        <div class="item-citas">
	        <h2>Doctores: {{cita.doctor}}</h2>
	        <h3>Hora: {{cita.hora}}</h3>
	        <h3>Fecha: {{cita.fecha}}</h3>
	    <div/>
        <a href="#"><i class="icon ion-chevron-right icon-accessory" ></i><a>
    </ion-item> -->
  </div>
<!--
  <div class="list card">
                <div class="item item-avatar">
                  <img src="http://lorempixel.com/200/200/people">
                  <h2>Lorem ipsum</h2>
                  <p>Especialidad</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                  <a class="tab-item" href="#">
                    <i class="icon ion-clock"></i>
                    Hora
                  </a>
                  <a class="tab-item" href="#">
                    <i class="icon ion-calendar"></i>
                    Fecha
                  </a>
                  <a class="tab-item" href="#">
                    <i class="icon ion-home"></i>
                    Consultorio
                  </a>
                </div>
              </div>

  <div class="list card">
                <div class="item item-avatar">
                  <img src="http://lorempixel.com/200/200/people">
                  <h2>Lorem ipsum</h2>
                  <p>June 05, 2014</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                  <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                  </a>
                  <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                  </a>
                  <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                  </a>
                </div>
              </div>-->

            <ion-list>
      <ion-item class="item-remove-animate item-avatar" ng-repeat="cita in citas" type="item-text-wrap" href="##/tab/citas/{{cita.id}}">
        <img ng-src="{{cita.icons}}">
        <h2>{{cita.doctor}}</h2>
        <p>
            <a class="mhfc"><i class="icon ion-clock"> {{cita.hora}} </i></a>
            <a class="mhfc"><i class="icon ion-calendar"> {{cita.fecha}} </i></a>
            <a class="mhfc"><i class="icon ion-home"> Consultorio </i></a>
        </p>
   
        <ion-option-button class="button-assertive" ng-click="remove(cita)">
          Cancelar
        </ion-option-button>
      </ion-item>
    </ion-list>
  

</div>
    </ion-content>
</ion-view>
