<ion-view view-title="Opciones">
  <ion-content>
    <div class="list">

    	<div class="item item-divider item-opciones">
    		Desarrollos
  		</div>

  		<div class="top-header">
        </div>
  		<a class="item item-key-systems" href="#" browse-to="https://play.google.com/store/apps/details?id=com.ionicframework.keysystems549574">
            por
            <img class="icon-key-side-menu" src="img/keysystems-logo.png">
        </a>

  		<div class="item item-divider item-opciones">
    		Ayuda
  		</div>

  		<a class="item item-icon-left" href="#">
  			<i class="icon ion-help"></i>
    		Ayuda de KeyDoc
  		</a>

  		<a class="item item-icon-left" href="#">
   			<i class="icon ion-information-circled"></i>
    		Acerca
  		</a>

  		<div class="item item-divider item-opciones">
    		Configuración
  		</div>

  		<a class="item item-icon-left" href="#">
  			<i class="icon ion-key"></i>
    		Cambiar contraseña
  		</a>

  		<a class="item item-icon-left" href="#" ng-click="desconectar()">
  			<i class="icon ion-log-out"></i>
    		Salir
  		</a>

	</div>
  </ion-content>
</ion-view>