<ion-view view-title="Perfil">
  
     <ion-nav-buttons side="right">
        <a class="button button-icon ion-android-more-vertical" href="#/tab/opciones"></a>
    </ion-nav-buttons>

    <ion-content>
	    <div class="jr-card-theme-default">
            <div class="jr-card">
        
                <div id="banner"/>
                    <img ng-src="http://keydoc.com.ve/public/libs/pagina/img/header-bg.jpg" alt="">
                </div>

            <ion-slide-box show-pager="true">
                <ion-slide>
                    <div class="profile-picture">
                        <img ng-src="{{ 'http://keydoc.com.ve' + url_imagen_perfil }}"/>
                    </div>
                    <div class="box-white"><h2>{{ nombre_perfil }}</h2></div>
                </ion-slide>
                <ion-slide>
                    <div class="box-white"><p>{{ direccion_perfil }}</p></div>
                    <div class="box-white"><h4>Venezuela</h4></div>
                </ion-slide>
            </ion-slide-box>

            <list class="list">

                <item class="item item-icon-left" ng-href="mailto:{{ correo_usuario }}">
                    <i class="icon ion-email"></i>
                        {{ correo_usuario }}
                </item>

                <item class="item item-icon-left" ng-href="tel:{{ '+58 ' + telefono_perfil }}">
                    <i class="icon ion-ios7-telephone"></i>
                        +58 {{ telefono_perfil }}
                    <div class="icon-llamar">
                    <a href="#" class="telephone"><i class="icon ion-chatbubble-working"></i></a>
                    </div>
                </item>

                <item class="item item-icon-left" href="#">
                    <i class="icon ion-person-stalker"></i>
                        Doctores
                    <span class="badge badge-calm">0</span>
                </item>

            </list>

    </ion-content>
</ion-view>
