<ion-view view-title="Cita">
    <ion-content>
        <ion-item class="item-avatar item-noti-detalle" type="item-text-wrap" href="#">
            <div class="img-noti-detalle">
                <img src="img/upload.png">
            </div>
            <div class="row">
                <i class="ion-heart"></i>
                <p>Dr. </p>
                <h2 class="mayuscula"> {{ notificacion_detalle[0].nombre_doctor }}</h2>
            </div>
            <div class="row">
                <i class="ion-medkit"></i>
                <h2 class="mayuscula"> {{ notificacion_detalle[0].especialidad }}</h2>
            </div>
            <div class="row">
                <i class="ion-person"></i>
                <p>Paciente </p>
                <h2 class="mayuscula">{{ notificacion_detalle[0].nombre_paciente }}</h2>
            </div>
            <div class="row">
                <i class="ion-android-calendar"></i>
                <p class="mayuscula">{{ notificacion_detalle[0].dia_fecha_agenda }}</p>
                <h2>{{ notificacion_detalle[0].fecha_agenda }}</h2>
            </div>
            <div class="row">
                <i class="ion-android-alarm-clock"></i><h2>{{ notificacion_detalle[0].hora_agenda }}</h2>
            </div>
            <a class="button icon-left ion-checkmark-round button-balanced button-clear" ng-if="notificacion_detalle[0].status_aprobado_cita == 1">
                Aceptada
            </a>
            <a class="button icon-left ion-alert button-energized button-clear" ng-if="notificacion_detalle[0].status_pendiente_cita == 1">
                Pendiente
            </a>
            <a class="button icon-left ion-close-round button-assertive button-clear" ng-if="notificacion_detalle[0].status_rechazado_cita == 1">
                Rechazado
            </a>
        </ion-item>
        <div class="body-direccion">
 
            <h4><i class="ion-location"></i> Dirección: </h4>

            <p>{{ notificacion_detalle[0].direccion_consultorio }}</p>
        </div>
    </ion-content>
</ion-view>