<ion-view view-title="Buscar">
    
    <ion-nav-buttons side="right">
        <div class="row button-search-keydoc">    
            <button class="button button-icon button-clear ion-search placeholder-icon" ng-click="search()"></button>
        </div>
    </ion-nav-buttons>
    
    <ion-content>

        <label class="item item-input" ng-show="isVisible">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="query.search" placeholder="Search">
        </label>
      
        <ion-list>
            <ion-item class="item-avatar item-icon-right" ng-repeat="doctore in doctores | filter:query.search"  href="#">
                <img src="img/upload.png">
                <h2>Dr. {{ doctore.nombre_doctor }}</h2>
                <p>Telf: {{ doctore.telefono_perfil }}</p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
