<ion-view view-title="Perfil">
    <ion-content>
		<div class="jr-card-theme-default">
  <div class="jr-card">
    <div class="jr-header">
      <div class="jr-cover">
        <div class="jr-profile-picture-container"><img src="img/ionic.png"/></div>
        <h2 class="jr-display-name">Ionic User</h2>
      </div>
      <div class="jr-experience-info">
        <p>Javascript Frontend Engineer at Recruiterbox</p>
        <p><small><i class="icon ion-ios7-location"></i> Venezuela, Los Teques</small></p>
        <p><small><i class="icon ion-ios7-email"></i> ionic@ionic.com</small></p>
      </div>
    </div>
    <div class="jr-content">
      <div class="jr-stats">
        <div class="jr-stat"><span><span class="jr-numbers">5</span><br/><small><i class="icon ion-ios7-medkit"></i> Citas</small></span></div>
        <div class="jr-stat"><span><span class="jr-numbers">3</span><br/><small><i class="icon ion-ios7-person"></i> Doctores</small></span></div>
      </div>
      <div class="jr-about">
      </div>
    </div>
    
    <div class="jr-footer">
      <div class="jr-cita">
        <div class="jr-citas"><i class="icon ion-ios7-medkit"></i> CITAS</div>  		
      </div>
    </div>
    

    <!-- <ion-item class="item-avatar item-icon-right" ng-repeat="cita in citas" type="item-text-wrap" >
        <img ng-src="{{cita.icons}}">
        <div class="item-citas">
	        <h2>Doctores: {{cita.doctor}}</h2>
	        <h3>Hora: {{cita.hora}}</h3>
	        <h3>Fecha: {{cita.fecha}}</h3>
	    <div/>
        <a href="#"><i class="icon ion-chevron-right icon-accessory" ></i><a>
    </ion-item> -->
  </div>

  	<div class="jr-content">
      <div class="jr-stats" ng-repeat="cita in citas">
        <div class="jr-stat"><span><span class="jr-numbers"><div class="picture-container-citas"><img src="img/ionic.png"/></div></div>
        <div class="jr-stat">Doctor: {{cita.doctor}}</div>
        <div class="jr-stat">Hora: {{cita.hora}}</div>
        <div class="jr-stat">Fecha: {{cita.fecha}}</div>
        <div class="jr-stat-a"><div><a href="#"><i class="icon ion-chevron-right icon-accessory color-citas-icon" ></i><a></div></div>
      </div>
    </div>

</div>
    </ion-content>
</ion-view>
