<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Citas -->
  <!--<ion-tab title="Citas" icon-off="ion-ios7-medkit-outline" icon-on="ion-ios7-medkit" href="#/tab/citas">
    <ion-nav-view name="tab-citas"></ion-nav-view>
  </ion-tab>-->

  <!-- Notificaciones  -->
  <ion-tab title="Notificaciones" icon-off="ion-ios-bell-outline" icon-on="ion-ios-bell" href="#/tab/notification">
    <ion-nav-view name="tab-notification"></ion-nav-view>
  </ion-tab>
  <!--<ion-tab title="Notificaciones" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>-->

  <!--  Buscar -->
  <ion-tab title="Buscar" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Perfil  -->
  <ion-tab title="Perfil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/perfil">
    <ion-nav-view name="tab-perfil"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab 
  <ion-tab title="Account" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  -->

</ion-tabs>
