<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-left tabs-color-active-positive">

  <!-- Citas -->
  <ion-tab title="Citas" icon-off="ion-ios7-medkit-outline" icon-on="ion-ios7-medkit" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

  <!--  Buscar -->
  <ion-tab title="Buscar" icon-off="ion-ios7-search" icon-on="ion-ios7-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Notificaciones  -->
  <ion-tab title="Notificaciones" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab 
  <ion-tab title="Account" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  -->

</ion-tabs>
